body{
	font-family: arial;
	background: url(../img/res6.jpg);
	background-size: cover;
}
.foot{
	margin-top: 30vh;
}

.form-container{
	color: #fff;
	border: 1px solid black;
	padding: 50px 60px;
	margin-top: 20vh;
	background-color: black;
	opacity: 0.7;
}
.titulo{
  margin-top: 10%;
  font-size: 65px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}
.franja{
  background-color: #010F20;
  padding-top: 45px;
  padding-bottom: 45px;
  font-family: arial;
  color: white;
}
.texto{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: arial;
  color: white;
}
.titulo2{
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.inferior{
  margin-bottom: 5%;
}
.texto2{
  font-size: 20px;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  text-align: center;
  font-family: arial;
  color: white;
}
